* {

    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.container0 {
    width: 100%;
    /* border: 1px solid; */
    background: url(https://demo.epic-webdesign.com/tf-launchpage/v1/images/bg3.jpg);
    background-size: cover;
    position: relative;
    background-position: top center;
    background-attachment: fixed;
    z-index: 0;
}

.container {
    display: flex;
    margin: 0 auto;
    /* width: 1140px; */
    /* width: 100%; */
    /* border: 1px solid; */
    width: calc(100% - 90px);
    /* position: relative; */
    justify-content: space-between;

}



.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;

    align-items: center;
}

a {
    text-decoration: none;

}


.logo {

    /* margin-left: 45px; */
    font-size: 28px;

    font-weight: 700;
}

.logo0 {
    color: #e6373e;
}

.titleLogo {

    display: flex;
    /* margin-right: 45px; */
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}



.logo1 {
    padding: 0px;
    margin: 10px;

    color: #05153b;

    transition: all 0.3s ease;
    font-weight: 600;

}

.logo1:hover {
    color: #e6373e;
}

.logo2 {
    display: flex;
    color: #fff;

    background-color: #e6373e;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: all 0.3s ease;
    margin-left: 25px;
}

.logo2:hover {
    border: 1px solid #e6373e;
    background-color: #fff;
    color: #e6373e;

}

.bar {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.part1 {

    position: relative;
    height: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    z-index: 0;
    padding-top: 140px;
    padding-bottom: 110px;
    background: url(part1.png);
    background-size: cover;




}





.imgP1 {

    width: 100%;
    background: #000;
    opacity: 0.39;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;


}



.p1Left {

    width: 450px;
    /* background-color: #e6373e; */


}

.award {
    font-weight: 700;
    font-size: 35px;
    color: #fff;
}

.awardText {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
}


.p1Right {
    background-color: #ffffff;
    width: 440px;
    height: 460px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: p1right;
    animation-duration: 2s;

    opacity: 0;


}


@keyframes p1right {
    0% {
        /* animation-delay: 2s; */
        opacity: 0;
        transform: scale(0.3);

    }

    /* 25% {
        opacity: 1;
        transform: scale(0.5);
    } */

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }


}

.p1Right {
    opacity: 1;
}

.inRight {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    height: calc(100% - 80px);
    /* border: 1px solid; */
    /* justify-content: ; */
}

.watch {
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.logoWatch {
    display: flex;
    margin-right: 10px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 1s ease;

}

.logoWatch:hover {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);



}

.icon1 {
    transition: all 0.5s ease;
    color: #e6373e;
    font-size: 30px;
}


.logoWatch:hover .icon1 {
    color: #fff;
}


.titleWatch {
    color: #fff;
    /* text-decoration: 1px solid #fff; */


}

.effect {
    position: absolute;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    animation-iteration-count: infinite;
    animation-name: watchh;
    animation-duration: 2.5s;


    /* opacity: 0; */
}


.logoWatch:hover .effect {
    animation-name: watchh;
}



@keyframes watchh {
    /* 0%{
        opacity: 0;
        width: 60px;
        height: 60px;
    }
    50%{
        opacity: 1;
        width: 65px;
        height: 65px;
    }
    
    100%{
        width: 70px;
    height: 70px;
    } */

    from {
        opacity: 1;
        width: 60px;
        height: 60px;
    }

    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }

}

.getYour {
    font-size: 22px;
    font-weight: 500;
    color: #071e55;
}

.velis {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans', sans-serif;
}

.input0 {
    width: calc(100%);
    height: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid #e9ebee;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fbfbfb;
}

.icon {
    margin-left: 10px;
}

.input {

    width: calc(100% - 10px);
    height: 100%;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    /* color: #454545; */
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #fbfbfb;


}

.input2 {
    display: flex;
    width: calc(100% - 10px);
    height: 100%;

    cursor: pointer;
    outline: none;
    margin-left: 10px;

    font-size: 16px;
    background-color: #fbfbfb;
    font-weight: 400;

}

.btnStart {
    width: 100%;
    background-color: #e6373e;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 3px;
    transition: all 0.7s ease;
}

.btnStart:hover {
    background-color: #4fba69;
}

.aStart {
    color: #fff;
    font-size: 15px;
    font-weight: 700;

}

.credit {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #7c8595;
    margin-top: 10px;
}


.cl2 {
    width: 100%;
    height: 100px;

}

.part2 {
    background-color: #fff;

}

.p2 {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;

}

.as {
    font-weight: 700;
    color: #071e55;
}

.logop2 {
    margin: 30px 20px;
    height: 50px;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.logop2:hover {
    opacity: 1;
}

.part3 {
    width: 100%;
    height: 570px;
    background-color: #f1fafe;

}

.p3 {
    height: 100%;

    display: flex;
    flex-direction: column;
    /* background-color: #e6373e; */
    justify-content: normal;
    align-items: center;

}

.whatWeDo {
    margin: 0;
    margin-top: 100px;

    font-size: 38px;
    font-weight: 700;
    color: #071e55;

}

.dicover {

    margin: 0;
    opacity: 0.4;
    font-size: 14px;
    text-align: center;
}



.brand {
    margin-top: 50px;
    width: 100%;

    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.br1 {
    width: calc(100% / 3);
    height: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    transition: all 1.5s ease;
}

.br1:hover {
    transform: scale(1.05);

}





.lgbr1 {
    width: 100px;

    height: 100px;
    background-color: #1c90ff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lgbr2 {
    width: 100px;

    height: 100px;
    background-color: #e52e36;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lgbr3 {
    width: 100px;

    height: 100px;
    background-color: #4fba69;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlebr1 {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 21px;
    margin-top: 20px;
    color: #05153b;
    text-align: center;
}

.inlg {

    font-size: 50px;
    color: #fff;
}

.contextBr1 {
    margin: 30px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    color: #7c8595;


}

.part4 {
    padding-top: 80px;
    background-color: #fff;
    padding: 80px 0;


}

.p4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title4 {
    font-size: 31px;
    font-weight: 700;
    color: #071e55;
}

.context4 {
    margin-top: 10px;
    color: #7c8595;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.img4 {

    border-radius: 25px;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.content4 {
    margin-left: 50px;
}

.wholeQuias {
    margin-top: 20px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    color: #7c8595;
}

.tick {
    color: #e52e36;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
}


.btnDiscover {
    display: flex;
    font-size: 20px;
    background-color: #e52e36;
    width: 170px;
    height: 55px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 50px #000000;
    transition: all 0.5s ease;

}

.btnDiscover:hover {
    box-shadow: 0px 10px 30px #000000;

}

.tltDiscover {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.btnDiscover10 {
    display: flex;
    font-size: 20px;
    background-color: #ffffff;
    width: 170px;
    height: 55px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 50px #000000;
    transition: all 0.5s ease;
    margin: 15px;

}


.btnDiscover10:hover {
    box-shadow: 0px 10px 30px #000000;

}

.btn10 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tltDiscover10 {
    color: #e52e36;
    font-weight: 700;
    font-size: 18px;
}

.btnDiscover11 {
    display: flex;
    font-size: 20px;

    width: 170px;
    height: 55px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 10px 50px #000000;
    transition: all 0.5s ease;
    margin: 15px;
    border: 1px solid #fff;

}


.tltDiscover11 {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.btnDiscover11:hover {
    box-shadow: 0px 10px 30px #000000;
    background-color: #fff;
    color: #e52e36;
}

.btnDiscover11:hover .tltDiscover11 {
    color: #e52e36;
}

.i4 {
    /* border: 1px solid rebeccapurple; */
    border-radius: 15px;
    /* height: auto; */
    width: 450px;

    /* margin-top: -50px; */
    box-shadow: 0px 5px 50px #888888;
}


.part5 {
    padding-top: 80px;
    padding-bottom: 80px;


    background-color: #f1fafe;


}

.wholeContent5 {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    flex-wrap: wrap;

    /* border: 1px solid; */


}

.a5 {

    margin-top: 10px;
    /* width: 510px; */
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    border: 1px solid #f1fafe;


}

.a5:hover {
    background-color: #fff;
    border: 0.5px solid #eaeaea;
    border-radius: 5px;
}

.im52,
.im53 {
    display: none;
}

.a52:hover.im51 {
    display: none;
}

.logo5{

    margin-left: 20px;
}

.logo51 {

    width: 80px;
    height: 80px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    background-color: #fcfcfc;
    color: #1e90ff;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;



}


.logo52 {

    width: 80px;
    height: 80px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    background-color: #fcfcfc;
    color: #e52f37;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;


}

.logo53 {

    width: 80px;
    height: 80px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    background-color: #fcfcfc;
    color: #27b36a;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;


}

.content51 {


    width: calc(100%);
    margin: 10px;
    height: calc(100% - 10px);
    margin-left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.wholeTitle5 {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* word-break: break-all; */

}

.im5 {
    /* height: calc(100% - 80px); */
    width: calc(100% / 2 - 50px);
    border-radius: 10px;
    box-shadow: 0px 5px 50px #888888;

}

.title5 {
    font-weight: 700;
    font-size: 21px;
    color: #071e55;
}

.context5 {
    font-weight: 400;
    font-size: 17px;
    color: #7c8595;
    margin-top: 7px;
}

.p5 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.br61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    margin: 30px 20px;

}

.part6 {

    width: 100%;

    position: relative;


}



.content6 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #1c90ff; */


}

.layout6 {
    background-color: #e52e36;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

.br6 {
    display: flex;
    flex-direction: row;
}

.title6 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;

}

.number6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
}

.describe6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}

.part7 {
    background-color: #f1fafe;
    width: 100%;
    height: 100%;
}

.p7 {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.whatPeople {
    width: calc(100% / 2 - 100px);

}

.title7 {
    font-size: 38px;
    font-weight: 700;
    color: #071e55;
}

.content7 {
    font-weight: 400;
    font-size: 17px;
    color: #7c8595;
    font-family: 'Open Sans';
    padding: 15px 0;
}

.rate7 {
    display: flex;

    width: auto;

}

.tltrate71 {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.jobTitle {
    width: calc(100% / 2);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Jobtitle7 {
    height: 60px;
    background-color: #fff;
    border-left: 5px solid #27b36a;
    /* margin: 10px; */
    padding: 45px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 1px 30px #bcbaba;

}

.starRate71 {
    color: #fccc28;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    font-weight: 0;
}

.rate71 {
    border-right: 1px solid #888888;
    padding-right: 10px;
}

.st71 {
    border: 1px;

}

.rate72 {
    padding-left: 10px;
}

.avtJob {
    /* border: 1px solid; */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.name7 {
    font-size: 18px;
    font-weight: 700;
    color: #071e55;
}

.information7 {
    height: 100%;
    display: flex;
    align-items: center;
}

.nameJob {
    font-size: 17px;
    font-weight: 700;
    color: #27b36a;
    padding-left: 10px;
}

.imgavt {
    height: 60px;
}


.part8 {
    width: 100%;
    background-color: #fff;

}

.p8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.our {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title8 {
    font-size: 38px;
    font-weight: 700;
    color: #071e55;
}

.content8 {
    font-size: 18px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans';
    margin: 10px;
}

.img8 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.img81 {
    width: calc(100% / 3 - 20px);
    position: relative;
    margin: 5px;
}

.im8 {
    width: 100%;
    margin: 2px;
}

.img8 {
    margin-top: 30px;

}

.img811 {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout8 {
    background-color: #e52f37;

    height: calc(100% - 30px);
    width: calc(100% - 30px);
    position: absolute;
    z-index: 1;
    /* top: 0; */
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img811:hover .layout8 {
    opacity: 0.8;

}

.zoomin {
    font-size: 50px;
    position: absolute;
    color: #fff;
}

.part9 {
    width: 100%;
    background-color: #f1fafe;
    padding: 80px 0;
}

.p9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ifm9 {
    display: flex;
    justify-content: space-between;
}

.ifm91 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 5px;
    width: calc(100% / 3 - 30px);
    border: 1px solid #dfdcdc;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 30px;
}

.title9 {
    font-size: 38px;
    font-weight: 700;
    color: #071e55;
    margin-top: 80px;
}

.content9 {
    font-size: 18px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans';
    margin-top: 10px;
}

.name91 {
    font-size: 18px;
    font-weight: 700;
    color: #454545;
    margin-top: 15px;
}

.nameJob91 {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: #acacac;
    margin-top: 10px;

}

.line9 {
    height: 3px;
    width: 50px;
    background-color: #e52f37;
    margin: 15px;
}

.context9 {
    font-weight: 400;
    font-size: 16px;
    color: #7c8595;
    font-family: 'Open Sans';
    text-align: center;
    margin-bottom: 20px;
}

.img91 {
    width: 100%;
    margin: 0;
    padding: 0;


}

.content10 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    padding: 30px 150px;

}

.part11 {
    width: 100%;
    background-color: #fff;
}

.p11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.title11 {
    font-weight: 700;
    font-size: 38px;
    color: #071e55;
}

.content11 {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    color: #7c8595;
    margin-top: 10px;
}

.tltsp {
    font-size: 20px;
    font-weight: 700;
    color: #071e55;
}

.contentsp {
    font-size: 17px;
    font-weight: 400;
    color: #7c8595;
    font-family: 'Open Sans';
    margin-top: 5px;

}

.help11 {
    display: flex;
    flex-direction: column;
}

.sp {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;

}

.logosp {
    font-size: 50px;
}

.gr11 {
    color: #4fba69;
}

.bl11 {
    color: #1c90ff;
}

.yl11 {
    color: #fb6a3f;
}

.support {
    display: flex;
    width: calc(100% / 3 - 20px);
}

.wholesp11 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.part12 {
    width: 100%;
    background-color: #f1fafe;
}

.p12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.wholeTitle12 {
    display: flex;
    flex-direction: column;
}

.box121 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 450px;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
    border: 1px solid #e6e3e3;
    box-shadow: 0px 0px 50px #c9c8c8;
    transition: all 0.5s ease;
}

.box122 {
    display: flex;
    flex-direction: column;
    background-color: #e52e36;
    height: 490px;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10px;
    border: 1px solid #e6e3e3;
    box-shadow: 0px 0px 50px #c9c8c8;
    transition: all 0.5s ease;

}

.title12 {
    font-weight: 700;
    font-size: 32px;
    color: #071e55;
}

.content12 {
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 400;
    color: #7c8595;
}

.monthly {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: #292929;
    margin-top: 50px;

}

.money121 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 70px;
    color: #292929;
    margin-top: 40px;
}

.perMonth {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #6a6a6a;
    margin-top: 5px;
}

.getstarted {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 14px;
    color: #e52f37;
    margin: 50px 0;
    transition: all 0.5s ease;
}

.first121 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #6a6a6a;
    margin: 3px;
}

.annualy {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin-top: 50px;

}

.money122 {
    font-family: 'Roboto';
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    margin-top: 40px;
}

.perYear {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 5px;

}

.btnGetStarted {
    background-color: #fff;
    border-radius: 25px;
    margin: 50px 0;
    width: calc(100% - 150px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.first122 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 3px;

}
.wholeTitle12{
    width: calc(100% / 2);
    /* border: 1px solid; */
}
.Box12 {
    width: calc(100%);
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.box12{
    width: calc(100% / 2);
    margin: 10px;
}

.box121:hover{
    transform: scale(1.05);
}

.box122:hover{
    transform: scale(1.05);

}

.getstarted:hover{
    color: #fff;
}

.btnGetStarted:hover{
    background-color: #e52e36;
    border: 1px solid #fff;
}

.btnGetStarted:hover .getstarted{
    color: #fff;
}

.part13{
    width: 100%;
    background-color: #fff  ;
    padding: 80px 0;
}
.p13{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wholetitle13{
    display: flex;
    flex-direction: column;
}
.context13  {
    display: flex;
    flex-direction: column;
    margin-top: 50px ;
    justify-content: space-between;
}
.ct13{
    display: flex;
    flex-direction: row;
    /* padding-right: 50px; */
}
.ct14{
    display: flex;
    flex-direction: row;
}


.p15{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.content15{
    margin: 0;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.part6{
    background-color: #e52e36;
    opacity: 0.9;
}
.velit{
    padding-right: 50px;
}

.tlt15{
    margin: 0px;
}
.input15{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    /* width: calc(100% /2 + 20px);  */

    /* background-color: #1c90ff; */
}
.input151{
    width: 100%;
    display: flex;
    
}
.inp151{
    width: 100%;
    margin: 5px;
    width: 350px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
    
}
.inp151::placeholder{
    color: #fff;
    text-indent: 5px;
    font-weight: 500;
    font-size: 15px;

}
.inp152{
    width: 710px;
    height: 130px;
    text-align: left;
    padding-top: 10px;
 
    

}

.btnGet{
    border: 2px solid #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin-top: 5px;
    color: #e52e36;
    background-color: #ffffff;
    opacity: 1;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.5s ease;
    border: none;
}

.btnGet:hover{
    border: none;
    background-color: #eaeaea;
    border: none;
}



@media only screen and (min-width: 1070px) {
    .container {
        display: flex;
        justify-content: space-between;
        width: 1000px;
    }

    .p2 {
        /* width: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-direction: row;
    }

    .p3 {
        height: 100%;

        display: flex;
        flex-direction: column;
        /* background-color: #e6373e; */
        justify-content: normal;
        align-items: center;


    }

    .brand {
        display: flex;
        /* border: 1px solid; */

    }

}

@media only screen and (max-width: 890px) {

    .container0 {
        width: 100%;
    }

    .titleLogo {
        display: none;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bar {
        display: flex;
        /* margin-left: calc(100% - 45px); */
        font-size: 20px;
        border: 1px solid #e6373e;
        width: 40px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .p2 {
        width: calc(100% - 20px);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* border: 1px solid; */
    }

    .p3 {
        width: calc(100% - 20px);
    }

    .brand {
        height: 100%;
        flex-direction: column;

    }

    .br1 {
        width: 100%;
    }

    .part3 {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .part4 {
        border-color: #1c90ff;

    }

    .p4 {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
    }

    .content4 {
        margin: 0;
        margin-top: 60px;
    }

    .i4 {
        /* border-radius: ; */
        width: calc(100%);
    }


    .p5 {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* border: 1px solid; */
        /* background-color: #1c90ff; */
        /* height: 1000px; */
        /* background-color: #f1fafe; */
    }

    .wholeContent5 {
        height: auto;

        margin: 0;
        /* padding: 0 130px; */
        display: flex;
        justify-content: center;
        width: calc(100% - 0px);


    }


    .part5 {
        /* height: 1010px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .im5 {
        margin-top: 50px;
        width: calc(100% - 0px);

    }

    .a5 {
        height: auto;
        width: calc(100% - 0px);
        border: 1px solid;
    }

    .br1 {
        padding: 30px;
        height: auto;
    }

    .br6 {
        flex-direction: column;
    }

    .content6 {
        height: auto;
        margin: 100px 0px;
    }

    .logo6 {
        font-size: 70px;
    }

    .p6 {
        width: calc(100% - 20px);
    }

    .p7 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
    }

    .whatPeople {
        width: 100%;
        padding: 0;

    }

    .jobTitle {

        margin: 80px;
        padding: 0;
        width: 100%;
    }

    .rate7 {
        flex-direction: column;
    }

    .rate71 {
        border: none;

    }

    .rate72 {
        padding: 0;
        margin-top: 30px;
    }

    .p8 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
    }

    .img8 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img81 {
        width: 100%;
    }

    .img811 {
        width: 100%;
    }

    .im8 {
        width: 100%;
    }


    .p9 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);

    }

    .ifm9 {
        display: flex;
        flex-direction: column;
        width: 100%;

        justify-content: center;
        align-items: center;
    }

    .ifm91 {
        width: 100%;
    }

    .p11 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
    }

    .sp {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .support {
        width: 100%;
        margin: 30px 0px;
    }

    .p12{
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
    }
    .wholeTitle12{
        display: flex;
       justify-content: start;
       margin: 0;
       padding: 0;
       border: 1px solid;
       width: 100%;
    }

    .Box12{
        margin-top: 50px;
        flex-direction: column;
        width: 100% ;
    }
    .box12{
        width: calc(100% - 50px);
    }
    .context13{
        display: flex;
        flex-direction: column;
    }
    .ct13{
        display: flex;
        flex-direction: column;
    }
    
    .ct14{
        display: flex;
        flex-direction: column;
    }

    .velit1{
        margin-top: 20px;
    }
    .velit{
        margin-top: 20px;
    }

    .p15{
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
    }
    .input15{
        width: 100%;
    }
    .input151{

        flex-direction: column;
        width: calc(100%);
    }
    .inp151{
        width: 100%;
        margin: 5px 0;
    }
    .inp152{
        width: 100%;

    }

}

@media only screen and (max-width: 700px) {
    .p1 {

        display: flex;
        flex-direction: column;
        margin-top: 0px;
        /* border: 1px solid; */
        align-items: center;
    }

    .p1Left {
        width: calc(100% - 50px);
    }

    .p1Right {
        margin-top: 100px;
        width: calc(100% - 50px);
    }

    .imgP1 {
        height: 1000px;
    }

    .part1 {
        height: 1000px;
        border: 1px solid;

    }

    .award {
        font-size: 25px;
    }

    .awardText {
        font-size: 13px;
    }
}



@media only screen and (max-width: 580px) {
    .part1 {
        display: flex;
        justify-content: center;

    }

    .p1 {
        /* background-color: #e6373e; */
        display: flex;
        margin: 0px;
        flex-direction: column;

        /* border: 1px solid; */
        align-items: center;
        justify-content: center;
        width: calc(100% - 10px);
    }


    .p1Left {
        margin-left: 0;
        margin-right: 0;
        width: calc(100%);
    }

    .p1Right {
        margin-left: 0;
        margin-right: 0;
        width: calc(100%);
    }

    .input0 {
        /* width: 100px; */
    }

    .inRight {
        width: calc(100% - 50px);
    }


}